*{
  margin: 0;
  padding: 0;
}

body{
  
}

nav{
  display: flex;
}

.logo{
  margin: 10px 250px 0px 100px;
}

.navbarSupportedContent{
  display: flex;
  list-style-type: none;
  margin: 10px 0px 0px 0px;
}

.navbarSupportedContent li{
  margin: 0px 20px 0px 20px;
  padding: 5px;
}